doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Grace Farm
    link(rel='stylesheet', href='assets/css/style.css')
  body 
    .mobile-menu.hidden
      img.mobile-menu-close(src='assets/img/close.svg', alt='')
      nav.header-nav.mobile-nav
        a.active(href='') яйца
        a(href='') мясная продукция
        a(href='') овощи и зелень
        a(href='') бакалея
    header.header 
      .header-inner 
        a.header-logo-link(href='') 
          img.header-logo-image.logo(src='assets/img/logo.png', alt='')
        nav.header-nav
          a.active(href='') яйца
          a(href='') мясная продукция
          a(href='') овощи и зелень
          a(href='') бакалея
        button.header-menu-button 
          img.header-menu-image(src='assets/img/menu-mobile.svg', alt='')
        button#cartOpen.header-cart-button 
          img.header-cart-image(src='assets/img/cart.svg', alt='')
    main.main 
      .main-inner.delivery-inner.hidden
        section.delivery
          h2.main-title.delivery-title Данные для доставки
          form.delivery-form
            .delivery-form-inner 
              label.delivery-form__label.require Имя
              input.delivery-form__input(type='text', placeholder='Владимир')
              label.delivery-form__label.require Телефон
              .phone-wrapper
                input.hidden(type='text')
                .select-placeholder +375
                ul.select-list.hidden
                  li.select-item 123
                  li.select-item 123
                  li.select-item 123
                  li.select-item 123
                  li.select-item 123
                input.delivery-form__input(type='tel')
              label.delivery-form__label.require Город
              input.delivery-form__input(type='text', placeholder='Минск')
              label.delivery-form__label.require Адрес
              input.delivery-form__input(
                type='text',
                placeholder='Название улицы, номер дома'
              )
              span.delivery-form__desc Введите название улицы и номер дома
              .input-block
                label.delivery-form__label Подъезд
                input.delivery-form__input(type='text')
                label.delivery-form__label Этаж
                input.delivery-form__input(type='text')
                label.delivery-form__label № квартиры
                input.delivery-form__input(type='text')
              label.delivery-form__label.require Удобное время 1
              .select-group
                input.hidden(type='text')
                .select-placeholder с 00:00
                ul.select-list.hidden
                  li.select-item 09:00
                  li.select-item 10:00
                  li.select-item 11:00
                  li.select-item 12:00
                  li.select-item 13:00
              label.delivery-form__label.require Удобное время 2
              .select-group
                input.hidden(type='text')
                .select-placeholder с 00:00
                ul.select-list.hidden
                  li.select-item 09:00
                  li.select-item 10:00
                  li.select-item 11:00
                  li.select-item 12:00
                  li.select-item 13:00
                input.hidden(type='text')
                .select-placeholder до 00:00
                ul.select-list.hidden
                  li.select-item 09:00
                  li.select-item 10:00
                  li.select-item 11:00
                  li.select-item 12:00
                  li.select-item 13:00
              label.delivery-form__label Дополнительная информация
              textarea.delivery-form__input(
                cols='30',
                rows='4',
                placeholder='Введите текст'
              )
              span.delivery-form__desc <span>*</span>— Поля обязательные для заполнения
              button.delivery-form__button.products-item__button Завершить заказ
        section.order
          h2.main-title.delivery-title Ваш заказ
          .order-inner
            h4.order-product-title Яйца от пастбищных курочек
            span.order-product-count 10 х <span>6</span> <small>BYN</small>
            h4.order-total-title общая сумма
            span.order-total-price 6 <small>BYN</small>

      .main-inner.cart-inner.hidden
        h2.main-title.cart-title Корзина
        section.cart
          .cart-item
            img.cart-item__delete(src='assets/img/close.svg', alt='')
            img.cart-item__image(src='assets/img/egg-chicken.jpg', alt='')
            .cart-item__block 
              p.cart-headers__item.hide-sm Товар
              h3.cart-item__title Яйца от пастбищных курочек
            .cart-item__block 
              p.cart-headers__item Цена
              span.cart-item__price 6 <small>BYN</small>
            .cart-item__block 
              p.cart-headers__item Кол<span>ичест</span>во
              .cart-item__buttons.products-item__buttons
                button.button-minus
                  img(src='assets/img/minus.svg', alt='') 
                span.result(data-count='10') 20
                button.button-plus 
                  img(src='assets/img/plus.svg', alt='')
            .cart-item__block 
              p.cart-headers__item Итого
              span.cart-item__total 6 <small>BYN</small>
        section.total
          h4.total-title общая сумма
          span.total-price 6 <small>BYN</small>
          button#deliveryOpen.total-button.products-item__button оформить заказ
      .main-inner
        h2.main-title Яйца
        img.main-image(src='assets/img/boiled-eggs.jpg', alt='')
        section.products
          .products-item
            img.products-item__image(src='assets/img/egg-chicken.jpg', alt='')
            h3.products-item__title Яйца от пастбищных курочек
            span.products-item__price 6 <small>BYN</small> / <small>10 шт</small>
            .products-item__buttons
              button.button-minus
                img(src='assets/img/minus.svg', alt='') 
              span.result(data-count='10') 20
              button.button-plus 
                img(src='assets/img/plus.svg', alt='')
            button.products-item__button Добавить в корзину
          .products-item
            img.products-item__image(src='assets/img/egg-quail.jpg', alt='')
            h3.products-item__title Яйца перепелиные
            span.products-item__price 6 <small>BYN</small> / <small>20 шт</small>
            .products-item__buttons
              button.button-minus
                img(src='assets/img/minus.svg', alt='') 
              span.result(data-count='10') 20
              button.button-plus 
                img(src='assets/img/plus.svg', alt='')
            button.products-item__button Добавить в корзину
          .products-item
            img.products-item__image(src='assets/img/egg-chicken.jpg', alt='')
            h3.products-item__title Яйца от пастбищных курочек
            span.products-item__price 6 <small>BYN</small> / <small>10 шт</small>
            .products-item__buttons
              button.button-minus
                img(src='assets/img/minus.svg', alt='') 
              span.result(data-count='10') 20
              button.button-plus 
                img(src='assets/img/plus.svg', alt='')
            button.products-item__button Добавить в корзину
          .products-item
            img.products-item__image(src='assets/img/egg-quail.jpg', alt='')
            h3.products-item__title Яйца перепелиные
            span.products-item__price 6 <small>BYN</small> / <small>20 шт</small>
            .products-item__buttons
              button.button-minus
                img(src='assets/img/minus.svg', alt='') 
              span.result(data-count='10') 20
              button.button-plus 
                img(src='assets/img/plus.svg', alt='')
            button.products-item__button Добавить в корзину
    footer.footer 
      .footer-inner 
        a.footer-logo-link(href='') 
          img.footer-logo-image.logo(src='assets/img/logo.png', alt='')
        .footer-info 
          a.footer-phone(href='') +375 (29) 123-45-67
          p.footer-desc Личное подсобное хозяйство семьи Похиленко
          .footer-links 
            a.footer-links__item(href='') 
              img.footer-links__image(src='assets/img/telegram.svg', alt='')
            a.footer-links__item(href='') 
              img.footer-links__image(src='assets/img/viber.svg', alt='')
            a.footer-links__item(href='') 
              img.footer-links__image(src='assets/img/facebook.svg', alt='')
            a.footer-links__item(href='') 
              img.footer-links__image(src='assets/img/instagram.svg', alt='')
        button.footer-top-button 
          img.footer-top-image(src='assets/img/top.svg', alt='')
script(src='assets/js/main.min.js')
